<!doctype html>
<html lang="en">
    <%- include('../partials/head', {title: info.name + " - search"}) %>

<body>
    <%- include('../partials/nav', {user: locals.user, karma}) %>
    <span id="auth"><%= isAuth %></span>

    <div class="main">
        <div class="container" style="padding-top: 60px; max-width: 575.98px;">
            <h1 class="mb-4"><%= info.name %></h1>
            <p><%=  info.description %></p>
            <br>
            <%- include('../partials/sidebar_subreddit_actions', {name: info.name, state: state}) %>
            <% if (posts != undefined) { %>
                <h4>Results (<%= posts.length %>) </h4> 
                <% } %>
    
                <% if (posts != undefined) { 
                    posts.forEach((post) => { %>
                        <article class="post" data-ref="<%= post._id %>">
                            <div class="arrows">
                    <div class="upvote-post auth-req"><svg transform="translate(-1,-9)" width="1em" height="1em"
                            viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                        </svg></i></div>
                    <span class="post-votes" style="position: relative; left: 3px; top: -5px;"
                        data-ref="<%= post._id %>"><%= post.votes %></span>
                    <div class="downvote-post auth-req"><svg style="position: relative; left: 3px; top: -5px;"
                            transform="translate(-4,0)" width="1em" height="1em" viewBox="0 0 16 16"
                            class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg></i></div>
                </div>
                
                               
                
                                <div class="info">
                    <header>
                        <a><%= post.title %></a>
                        <small><span class="post-user"><a>by <%= post.username %></a></span></small>
                    </header>
                    <div>
                        <%= post.body %>
                    </div>
                    <ul class="post-options">
                        <li><a href="javascript:void(0)" class="save-post auth-req">save</a></li>
                        <% if(post.username == locals.user) { %>
                        <li><a href="javascript:void(0)" class="delete-post auth-req">delete</a></li>
                        <% } %>
                    </ul>
                </div>
                            </article>
                <% });%>
                <% } else { %>
                <h4>Results (0)</h4>
                There are no posts.
                <% } %>

        </div>
    </div>

        
        </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js"></script>
        <script src="/js/load.js"></script>

        <script src="/js/index.js"></script>
        <script src="/js/post.js"></script>

</body>
</html>

